<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if signed_in? %>
	<% if service_connected?("Dropbox") %>
	    <%= link_to "Connect Dropbox", dropbox_authorize_path, {:class => "dropbox-connect"} %>
	<% else %>	
		<div class="container jumbotron">
			<%= react_component('FoldersContainer', {foldersPath: folder_path(@dropbox_root)}) %>
		</div>
		<%= link_to "List", dropbox_list_path, {:class => "dropbox-list"} %>
	    </br>
		<%= link_to "Disconnect dropbox", dropbox_deauthorize_path %>
	<% end%>
<% end %>
