<% flash.each do |key, value| %>
 <% key = "info" if key === "notice" %>
 <% key = "warning" if key === "error" %>
 <% key = "danger" if key === "alert" %>
    <div class="alert alert-<%= key %>"><%= value %>
      <button class="close" data-dismiss="alert">×</button>
    </div>
<% end %>
